/*Media querie 320*/

@media (min-width: 20em) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .theme{
    padding-left: 11rem;
  }

  .bottom-container{
    min-height: 35rem;
  }
}
/*Media querie 375*/
@media (min-width: 23.4375em) {
  .container {
    margin-left: 2.5rem;
    margin-right: 2.35rem;
  }

  .theme{
    padding-left: 12.5rem;
  }

  .bottom-container {
     min-height: 42rem; 
}
}
/*Media querie 425*/
@media (min-width: 26.5625em) {
  .theme{
    padding-left: 17.5rem;
  }
}

/*Media querie 768*/
@media (min-width: 48em) {
  .theme{
    padding-left: 29rem;
  }
  .container{
    margin: auto;
  }
}

/*Media querie 1440*/
@media (min-width: 90em) {
  .container {
    min-height: 90rem;
    max-width: 54rem;
    padding-top: 7rem;
}

  .bottom-container {
    min-height: 48rem;
    padding: 3.5rem;
}

  .bottom-container button {
    font-size: 3rem;
 }

  .bottom-container {
    column-gap: 2.5rem;
    row-gap: 2.5rem;
  }

  .second-upper-container {
    margin-top: 3.8rem;
    min-height: 12.8rem;
  }

  .theme{
    padding-left: 34rem;
  }
}


