/*### Theme 1*/

:root.theme-1{

  --Page-BC: #3b4664;
  --Display-Area-Color: #181F32;
  --white-color: #fcfefc;
  --Second-white-color: #fcfefc;
  --theme-BC: #252C46;
  --theme-ball: #D33D31;
  --interactive-area-BC: #252D44;
  --NOB-BC-color: #EAE3DB;
  --NOB-color: #585a64;
  --Shadow-color: #a99c97;
  --DRB-BC-color:#647299;
  --EB-BC-color: #d13f30;
  --Numeric-ButtonShadow:#a99c97;
  --DRButton-Shadow: #4e5a81;
  --Equal-Button-Shadow: #902418;

  --fs-100: 2rem;
  --ff-primary: 'Spartan', sans-serif;
}

/*### Theme 2*/

:root.theme-2{
  --Page-BC: #E6E6E6;
  --Display-Area-Color: #EEEEEE;
  --white-color: #35352D;
  --Second-white-color: #fcfefc;
  --theme-BC: #D3CDCD;
  --theme-ball: #C55601;
  --interactive-area-BC: #D3CDCC;
  --NOB-BC-color: #E5E4E0;
  --NOB-color: #3D3C37;
  --Shadow-color: #a99c97;
  --DRB-BC-color:#388187;
  --EB-BC-color: #C85401; 
  --Numeric-ButtonShadow:#a99c97;
  --DRButton-Shadow: #1C5F67;
  --Equal-Button-Shadow: #8A3A00;

  --fs-100: 2rem;
  --ff-primary: 'Spartan', sans-serif;
}

/*### Theme 3*/

:root.theme-3{
  --Page-BC: #17062A;
  --Display-Area-Color: #1E0836;
  --white-color: #FFE440;
  --Second-white-color: #fcfefc;
  --theme-BC: #1E0836;
  --theme-ball: #0BD9D6;
  --interactive-area-BC: #1E0936;
  --NOB-BC-color: #331B4D;
  --NOB-color: #FEE54C;
  --Shadow-color: #851D9C;
  --DRB-BC-color:#56077C;
  --EB-BC-color: #00DECF; 
  --Numeric-ButtonShadow:#7F2196;
  --DRButton-Shadow: #B61BE8;
  --Equal-Button-Shadow: #78F1EF;

  --fs-100: 2rem;
  --ff-primary: 'Spartan', sans-serif;
}

