.label{
  color: var(--white-color);
  font-size: 3rem;
}

.theme{
  color: var(--white-color);
  font-size: 1.2rem;
  align-self: flex-end;
  padding-left: 9.7rem;
}

.theme-toogle{
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  background-color: var(--theme-BC);
  align-self: flex-end;
  position: relative;
  top: 0.4rem;
}

.theme-sections{
  display: flex;
  position: relative;
  bottom: 2rem;
  gap: 1.7rem;
  left: 1rem;
}

.theme-sections div{
  color: #fcfefc;
  font-size: 1.2rem;
}
